:8080 {
    @unauth {
        path /*
    }
    @auth {
        header Authorization "Bearer {$CADDY_AUTHORIZATION}"
        path /*
    }
    route @auth {
        reverse_proxy {$CHROMA_PRIVATE_URL}:8000
    }
    route @unauth {
        respond "Unauthorized" 401
    }
}